extends ../../layout

block variables
    - var title = "Magic"

block content
    .container-fluid.bg-light.py-4
        h2 Magic
        .row.row-cols-1.row-cols-sm-2.row-cols-lg-2
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks") Decks
                        p.card-subtitle Deine Decks
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/matches") Matches
                        p.card-subtitle Bearbeite deine Matches