#items{
    transition: transform 6s cubic-bezier(0, 0.11, 0.33, 1) 1s;
    display: inline-block;
}
.start{
    transform: translate(2000px,0px);
    position: relative;
}
#gambleBox{
    overflow: hidden;
}
.rolling{
    transform: translate(0px,0px);
}

li {
    list-style: none;
}