extends layout

block variables
    - var title = "Befehle"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Befehle

block content
    .container-fluid.bg-light.py-4
        h2 Befehle