extends layout

block variables
    - var title = "Befehle"

block content
    .container-fluid.bg-light.py-4
        h2 Befehle
        .row.row-cols-1.row-cols-sm-2.row-cols-lg-3
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /top
                        p.card-subtitle Zeigt die Top Nutzer, nach Punkten, in der Gruppe an.
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /ehre
                        p.card-subtitle Zeigt die Top Nutzer, nach Ehre, in der Gruppe an.
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /stats
                        p.card-subtitle Zeigt deine Stats in deinen Gruppen an.
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /quote
                        p.card-subtitle Sendet ein zufälliges Zitat.
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /help
                        p.card-subtitle Zeigt dir eine Hilfe mit allen Befehlen die #[i dir] zu verfügung stehen.
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /randomCard
                        p.card-subtitle Beschreibung
            .col.mb-4
                .card
                    .card-body
                        h5.card-title /version
                        p.card-subtitle Zeigt Ivonas derzeitige Version an
            .col.mb-4
                .card
                    .card-body
                        h5.card-title @IvonaBot #{"<Code>"}
                        p.card-subtitle Benutze die Inline Funktion um Nach Codes zu Suchen und einfach in Gruppen zu Posten.