extends layout

block variables
    - var title = "Dashboard"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Dashboard

block content
    .container-fluid.bg-light.py-4
        h2 Dashboard

        p Hallo, #{session.user.name}
        .card-deck.mx-auto
            each userGroup in userGroups
                .col-md
                    .card
                        .card-body
                            h5.card-title #{userGroup.group.name}
                            p.card-subtitle #{userGroup.points} Punkte und #{userGroup.karma} Ehre
                            if userGroup.group.link
                                a.card-link(href="#") Telegram