extends layout

block variables
    - var title = "Features"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Features

block content
    .container-fluid.bg-light.py-4
        h2 Features
        .toast(role="alert", aria-live="assertive", aria-atomic="true")
            .toast-header
                strong.mr-auto Test
                small Vor 10 Minuten
                button.ml-2.mb-1.close(type="button",data-dismiss="toast", aria-label="Close")
                    span(aria-hidden="true") &times;
            .toast-body
                | Nachricht