extends layout

block variables
    - var title = "Impressum"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Impressum

block content
    h2 Impressum

    p Hier kommt das Impressum