extends layout

block variables
    - var title = "Login Error"
block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Login Fehler

block content
    .container
        .row
            .offset-sm-2.col-sm-8
                .jumbotron.text-center.mt-3.shadow
                    h2.mx-auto.text-danger Login Fehler
                    = message