extends layout
include paginationMixin

block variables
    - var title = "Magic Decks"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item
        a(href="/user/") Dashboard
    li.breadcrumb-item
        a(href="/user/magic") Magic
    li.breadcrumb-item.active(aria-current="page") Decks

block content
    .container-fluid.bg-light.py-4
        h2 Deine Decks
        span Seite #{page} von #{lastPage}
        .row.row-cols-1.row-cols-sm-2.row-cols-lg-1
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks/1") Commander 2019
                        p.card-subtitle Deck 1 Beschreibung
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks/2") Commander 2020
                        p.card-subtitle Deck 2 Beschreibung
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks/3") Standard White
                        p.card-subtitle Deck 3 Beschreibung
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks/4") Pioneer
                        p.card-subtitle Deck 4 Beschreibung
            .col.mb-4
                .card
                    .card-body
                        h5.card-title
                            a(href="/user/magic/decks/5") Vintage
                        p.card-subtitle Deck 5 Beschreibung
            +pagination