extends layout

block variables
    - var title = "Profil"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Profil

block content
    .container-fluid.bg-light.py-4
        h2 Dein Profil
        p
            form
                input.mr-3(type="text" name="name" placeholder="Nutzername" required value = session.user.name)
                button.btn.btn-primary(type="submit") Nutzername ändern
            if session.user.tgusername
                | @#{session.user.tgusername}
                br
            = "Telegram Name: " + session.user.tgfirstname + " " + session.user.tglastname
            br
            | Guthaben: #{session.user.money}$