extends layout

block variables
    - var title = "Shop"

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item
        a(href="/user/") Dashboard
    li.breadcrumb-item.active(aria-current="page") Shop

block content
    .container-fluid.bg-light.py-4
        h2 Shop