extends ../../../layout
include ../../../mixins/wipMixin
block variables
    - var title = "Magic Matches"

block content
    .modal#erstellenModal(tabindex="-1" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Match erstellen
                    button.close(type="button" data-dismiss="modal")
                        span &times;
                .modal-body
                    form#matchForm(action="matches/create" method="post")
                        .input-group.mb-3
                            .input-group-prepend
                                .input-group-text Titel
                            input.form-control.mr-3(type="text" name="titel" required)
                        .input-group
                            select.custom-select(name="type" required)
                                option(disabled selected) Wähle einen Spiel-Typ
                                option(value="commander") Commander
                                option(value="standard") Standard

                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Schließen
                    button.btn.btn-primary(type="submit" form="matchForm") Speichern
    .container-fluid.bg-light.py-4
        .mb-3
            h2 Matches
                button.btn.btn-outline-primary.ml-3.btn-sm(type="button" data-toggle="modal" data-target="#erstellenModal") Neues Match
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-5
            each match in matches
                .col.mb-4
                    .card
                        .card-body
                            h5.card-title
                                a(href="/user/magic/matches/" + match.id)= match.title
                        .card-footer
                            .text-muted= match.relativeDate
                            .badge.badge-pill.badge-primary.text-capitalize.mr-2 #{match.type}