mixin workInProgress
    .jumbotron.bg-dark.m-4
        h1.text-white Diese Seite ist noch nicht fertig gestellt
        p.lead.text-light Hier arbeiten wir noch. Es sollte aber nicht mehr lange dauern.